/pickle_files/aspected_files/df_aspects_table_26_03_2021_f_pow_2
/pickle_files/aspected_files/df_with_aspects_26_03_2021_f_pow_2
/pickle_files/aspected_files/df_with_aspects_26_05_2022_sum_coef_13
/pickle_files/.ipynb_checkpoints/
